.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed teal;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}
