// @import-normalize;

*
  margin: 0
  padding: 0
  box-sizing: border-box

#root
  display: flex
  flex-direction: column
  align-items: center

.App
  width: 800px

.post
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 15px
  padding: 15px
  border: 2px solid teal


.post__btns
  display: flex


.post-enter
  transform: translateX(-350px)

.post-enter-active
  transform: translateX(0)
  transition: all 500ms ease-in

.post-exit
  opacity: 1

.post-exit-active
  transform: translateX(-350px)
  transition: all 500ms ease-in


.page__pagination
  margin-top: 30px
  display: flex

.page__pagination-item
  padding: 10px
  border: 1px solid teal
  cursor: pointer

.page__pagination-item-current
  border-color: orange


.navbar
  height: 50px
  width: 100vw
  display: flex
  align-items: center
  padding: 0 10px
  background-color: lightcyan

.navbar__links
  margin-left: auto
  a
    padding: 0 10px


.color-palitra
  display: flex
  flex-direction: column
  overflow: hidden

.color
  &__item
    width: 100%
    height: 70px
    padding: 5px 15px
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid
    &:first-child
      border-radius: 15px 15px 0 0
    &:last-child
      border-radius: 0 0 15px 15px
    &:not(:last-child)
      border-bottom: none
    &:not(:first-child)
      border-top: none

  &__name
    margin-right: 20px
    


.game
  .selected
    background-color: teal